@model IEnumerable<WebAlunoMVC.Models.Aluno>

@{
    ViewBag.Title = "ListaAluno";
}

<h2>ListaAluno</h2>

<p>
    @Html.ActionLink("CriaAluno", "CriaAluno")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAluno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimeiroNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltimoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnoEscolaridade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAluno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimeiroNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UltimoNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Morada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnoEscolaridade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.ActionLink("EditaAluno", "EditaAluno", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("DetalheAluno", "DetalheAluno", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("EliminarAluno", "EliminarAluno", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
